body {
	font-family: "DM Sans", sans-serif;
}

.header {
	border: 2px solid;
	border-radius: 5px;
	max-width: 1000px;
	text-align: center;
	margin: auto;
	padding: 5px;
	background-color: white;
}

.puzzlebody {
	border: 2px solid;
	border-radius: 5px;
	max-width: 1000px;
	margin: auto;
	padding: 5px;
	background-color: white;
}

.flavor {
	font-style: italic;
}