<div style="background-color:lightpink; border: 5px solid hotpink; border-radius: 5px;">
	This is part of a multi-part series analyzing the various AI rounds from the 2023 MIT Mystery Hunt and seeing what they can teach us about writing puzzle hunts in general.
	<ul>
		<li>{% if include.article == "intro" %}<b>{% else %}<a href="../ai-intro/">{% endif %}Part 1: Introduction{% if include.article == "intro" %}</b>{% else %}</a>{% endif %}</li>
		<li>{% if include.article == "conjuri" %}<b>{% else %}<a href="../ai-conjuris-haystack/">{% endif %}Part 2: Conjuri's Haystack{% if include.article == "conjuri" %}</b>{% else %}</a>{% endif %}</li>
		<li>{% if include.article == "abcde" %}<b>{% else %}<a href="../ai-abcde/">{% endif %}Part 3: Admiral Bootes' Cosmic Definition Explanation{% if include.article == "abcde" %}</b>{% else %}</a>{% endif %}</li>
		<li>{% if include.article == "abcdefg" %}<b>{% else %}<a href="../ai-abcdefg/">{% endif %}Part 4: Actually, Bootes Contains Deeper Enigmas, Friends. Go!{% if include.article == "abcdefg" %}</b>{% else %}</a>{% endif %}</li>
		<li>{% if include.article == "ascent" %}<b>{% else %}<a href="../ai-ascent/">{% endif %}Part 5: Straight Up{% if include.article == "ascent" %}</b>{% else %}</a>{% endif %}</li>
	</ul>
</div>